{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="pizza_app">
<head>
    <title>Pizzas</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "novo/reset.css" %}">
    {#        <link rel="stylesheet" type="text/css" href="{% static "novo/bootstrap.min.css" %}">#}
    <link rel="stylesheet" type="text/css" href="{% static "novo/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "novo/grid.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "novo/style.css" %}">

</head>

<body>
{% verbatim %}
<div id="wrapper" class="grid clearfix">
    <div id="main" class="grid-1">
        <div class="ui small form segment">
            <div ng-controller="formController">
                <div class="fields">
                    <div class="field">
                        <label>Nome</label>
                        <input id="nome" name="nome" placeholder="Nome da Pizza" type="text" ng-model="form.nome">
                    </div>
                    <div class="field">
                        <label>Valor</label>
                        <input id="valor" name="valor" ng-model="form.valor" placeholder="Valor da pizza" type="text">
                    </div>
                    <div class="field">
                        <label>Ingredientes</label>
                        <textarea id="ingredientes" name="ingredientes" ng-model="form.ingredientes"></textarea>
                    </div>

                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" id="tamanho" name="tamanho" ng-model="form.tamanho">

                            <div class="default text">Tamanho</div>
                            <i class="dropdown icon"></i>

                            <div class="menu ui transition hidden">

                                <div class="item" data-value="pequena">pequena</div>
                                <div class="item" data-value="media">media</div>
                                <div class="item" data-value="grande">grande</div>
                                <div class="item" data-value="gigante">gigante</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="foto" class="ui icon button btn-file">
                            Foto:
                             <i class="attachment basic icon"></i>
                                <input id="foto" name="foto" type="file" style="display: none" file-model="form.foto">
                            </label>
                    </div>
                    <div class="field">
                        <div class="ui blue small submit button" ng-click="uploadFile()">Salvar</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="ui small form segment">
            <input type="text" ng-model="pesquisa" class="search-query" placeholder="Pesquisa">
        </div>
    </div>
    <div ng-controller="PizzaController2" ng-cloak>
        <ol id="repos" ng-repeat="pizza in pizzas_data  | filter:pesquisa | orderBy:'tamanho'">

            <li class="repo grid-1 {{ pizza.tamanho.toLowerCase() }}">
                <p>
                    <pizza-img src="pizza.foto"></pizza-img>
                </p>
                <div class="ui two column grid">
                    <div class="column">
                        <h3 class="ui black header">{{ pizza.nome }}</h3>
                    </div>
                    <div class="column">
                        <h3 class="ui blue header">{{ pizza.tamanho | primeiraMaiuscula }}</h3>
                    </div>
                </div>
                <div class="ui grid">

                    <div class="row">
                        <div class="column">
                            <h4 class="ui green header">Valor:</h4>
                            {{ pizza.valor | monetario }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h4 class="ui red header">Ingredientes:</h4>

                            <p>{{ pizza.ingredientes }}</p>
                        </div>
                    </div>
                </div>

            </li>
        </ol>
    </div>
</div>
{% endverbatim %}

<script type="text/javascript" src="{% static "novo/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "novo/semantic.min.js" %}"></script>
<script type="text/javascript" src="{% static "novo/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "novo/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "novo/underscore.min.js" %}"></script>
{#		<script type="text/javascript" src="{% static "novo/github.js" %}"></script>#}
<script type="text/javascript" src="{% static "novo/pizza.js" %}"></script>
</body>
</html>
