<!DOCTYPE html>
<html ng-app="Hello">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="container" >
        <h3>ng-controller</h3>
        <div ng-controller="HelloController">



            <h1>Tópicos Especiais em Ambiente WEB</h1>

            <div>
                <div>
                    <button ng-click="incrementar()">Clicar</button>
                    <label>Você clicou: {{ total }} veze(s)</label>

                </div>
                <h3>ng-controller interno:</h3>
                <div ng-controller="HelloController">
                    <button ng-click="incrementar()">Clicar</button>
                    <label>Você clicou: {{ total }} veze(s)</label>

                </div>
            </div>
            <br/>
            <div>
                <div >
                    <button ng-click="incrementar()">Clicar</button>
                    <label>Você clicou: {{ total }} veze(s)</label>

                </div>



                <div>
                    <button ng-click="incrementar()">Clicar</button>
                    <label>Você clicou: {{ total }} veze(s)</label>

                </div>
            </div>
            <div ng-controller="RodapeController">
                <h2>Texto criado no RodapeController: {{ copia }}</h2>
            </div>





        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="libs/main.js"></script>
        <script src="libs/HelloController.js"></script>
        <script src="libs/RodapeController.js"></script>

    </body>
</html>